.galleryContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    color: #2a2a2a;
    padding: 3em;
}

.galleryContainer h2 {
    font-size: 1.7rem;
}

.galleryContainer p {
    font-size: 1rem;
    padding: 1em 0 0;
}

.galleryNavigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.arrow {
    font-size: 2rem;
}

.imageContainer {
    width: 90%;
    margin: 2em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 12em;
    grid-gap: 1em;
}

.imageLink {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.image {
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #2a2a2a;
    font-size: 2rem;
    color: #33A7A6;
}


/*.image:nth-child(8n+2),*/
/*.image:nth-child(8n+5),*/
/*.image:nth-child(8n+6),*/
/*.image:nth-child(8n+4) {*/
/*  grid-row: span 2;*/
/*}*/

/* tablet styles */
@media (max-width: 992px) {
    .galleryContainer {
        padding: 2em 1em;
    }

    .galleryContainer h2 {
        font-size: 1.8rem;
    }

    .galleryContainer p {
        font-size: 1.2rem;
        padding: .7em 0 0;
    }

    .galleryNavigation {
        width: 100%;
    }

    .imageContainer {
        grid-template-columns: repeat(2, 1fr);
    }

}

/* mobile styles */
@media (max-width: 688px) {
        .galleryContainer {
        padding: 2em .5em;
    }

    .imageContainer {
        grid-template-columns: repeat(1, 1fr);
    }

    .image {
        grid-row: span 2 !important;
    }
    .galleryContainer p {
        font-size: 1rem;
        padding: .4em 0 0;
    }
}

