@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@300;400;500;700&display=swap');


.aboutContainer {
    height: 500px;
    background-color: #FDEBDD;
    display: flex;
    flex-direction: column;
    padding: 2em;
    font-family: Ubuntu, serif;
}

.decorationUpper {
    display: flex;
    justify-content: space-between;
}

.decorationUpper:last-child {

}

.aboutBody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 300px;
    margin: 2em 7em 1em;
}

.images {
    position: relative;
    width: 250px;
}

.baseImage {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2a2a2a;
    height: 90%;
    width: 90%;
}

.overlapImage {
    background-image: url(https://res.cloudinary.com/jesscodes/image/upload/v1614709167/h2lwcgxxheh7uyey3krz.png);
    position: absolute;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    bottom: 0;
    right: 0;
    height: 90%;
    width: 90%;
}

.info {
    padding: 2em 0 0;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #1A1A1B;
}

.info h5 {
    font-size: 1rem;
}

.info h2 {
    font-size: 2rem;
    padding: 1rem 0 2rem;
}

.info p {
    width: 80%;
    font-size: 1rem;
    line-height: 1.2;
}


.decorationLower {
    display: flex;
    justify-content: space-between;
}

