.aboutContainer {
    height: 500px;
    background-color: #FDEBDD;
    display: flex;
    flex-direction: column;
    padding: 3em;
    font-family: Ubuntu, serif;
}

.decorationUpper {
    display: flex;
    justify-content: space-between;
}

.decorationUpper:last-child {

}

.aboutBody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 300px;
    margin: 2em 7em 1em;
}

.images {
    position: relative;
    width: 250px;
}

.baseImage {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2a2a2a;
    height: 90%;
    width: 90%;
}

.overlapImage {
    background-image: url(https://res.cloudinary.com/jesscodes/image/upload/v1614709167/h2lwcgxxheh7uyey3krz.png);
    position: absolute;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    bottom: 0;
    right: 0;
    height: 90%;
    width: 90%;
}

.info {
    padding: 2em 0 0;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #2a2a2a;
}

.info h5 {
    font-size: 1rem;
}

.info h2 {
    font-size: 2rem;
    padding: 1rem 0 2rem;
}

.info p {
    width: 80%;
    font-size: 1rem;
    line-height: 1.2;
}


.decorationLower {
    display: flex;
    justify-content: space-between;
}

/* tablet styles */
@media (max-width: 992px) {
    .aboutContainer {
        padding: 2em;
    }

    .decorationUpper {
        justify-content: flex-end;
    }

    .linesUpper {
        display: none;
    }

    .aboutBody {
        justify-content: space-evenly;
        margin: 0 0 2em;
    }

    .info {
        padding: 0;
        width: 70%;
        align-items: center;
    }

    .info h5 {
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
    }

    .info h2 {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem 0;
    }

    .info p {
        text-align: center;
        width: 80%;
        font-size: 1.2rem;
    }

    .decorationLower {
        justify-content: flex-start;
    }

    .diamondsLower {
        display: none;
    }
}

/* mobile styles */
@media (max-width: 688px) {
        .aboutContainer {
            height: 600px;
        padding: 2em 1em;
    }

    .aboutBody {
        justify-content: space-evenly;
        padding-bottom: 3em;
    }

    .images {
        display: none;
    }

    .info {
        padding: 0;
        width: 100%;
    }

    .info h5 {
        font-size: 1.3rem;
    }

    .info h2 {
        text-align: center;
        font-size: 1.6rem;
        padding: 1rem 0;
    }

    .info p {
        text-align: center;
        width: 90%;
        font-size: 1.3rem;
        line-height: 1.3;
    }

    .decorationLower {
        justify-content: flex-start;
        margin-top: 3em;
        padding-top: 3em;
    }

    .diamondsLower {
        display: none;
    }
}
