.footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    color: #2a2a2a;
    height: 200px;
    padding: 3em;
    background-color: #FDEBDD;
}

.footerContainer h2 {
    padding-top: 2em;
    color: #33A7A6;
    font-size: 1.5rem;
}

.icon {
    margin-top: 1em;
    font-size: 2rem;
    color: #33A7A6;
}

.navContainer {
    padding: 3em 5em 0;
    display: flex;
    justify-content: flex-end;
}

.navLink {
    padding: 0 1em;
    font-family: Ubuntu, serif;
    text-decoration: none;
    cursor: pointer;
    color: #2a2a2a;
}

.navLink:visited {
    color: #2a2a2a;
}

/* tablet styles */
@media (max-width: 992px) {
.footerContainer {
    padding: 1em 0 2em;
}
    .navContainer {
        padding: 3em 0 2em;
    }

}

/* mobile styles */
@media (max-width: 688px) {
    .footerContainer {
        padding-bottom: 1em;
        flex-direction: column-reverse;
        justify-content: center;
    }
.navContainer {
    display: none;
}
.icon {
    font-size: 2.5rem;
}
}
