@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@300;400;500;700&display=swap');


.cardContainer {
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    color: #2a2a2a;
    height: 200px;
    width: 350px;
    margin: .2em;
    border-top: 5px solid #33A7A6;
    padding: 1em .5em;
    overflow: hidden;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.avatar {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 100px;
    padding: .2em;
    height: 50px;
    width: 50px;
}

.cardContainer .name {
    font-size: 1rem;
    font-weight: bold;
    padding: 0 .5em;
}

.cardContainer .review {
    padding: 2em 0;
    font-size: .8rem;
    text-align: left;
}


.cardContainer:nth-Child(1),
.cardContainer:nth-child(3) {
    opacity: .6;
}

.cardContainer:nth-child(2) {
    position: relative;
    bottom: 25px;
    box-shadow: 8px 8px 10px gray;
}
