@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@300;400;500;700&display=swap');


.cardContainer {
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    color: #2a2a2a;
    height: 200px;
    width: 350px;
    margin: .2em;
    border-top: 5px solid #33A7A6;
    padding: 1em .5em;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.avatar {
    font-size: 2rem;
    border: 1px solid black;
    border-radius: 100px;
    padding: .2em;
}

.cardContainer .name {
    font-size: 1rem;
    font-weight: bold;
    padding: 0 .5em;
}

.cardContainer .review {
    padding: 2em 0;
    font-size: .8rem;
    text-align: left;
}
