@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@300;400;500;700&display=swap');


.navContainer {
    padding: 1.5em 5em;
    display: flex;
    justify-content: flex-end;
}

.iconButton {
    display: none;
}

.icon {
    display: none;
}

.navLink {
    padding: 0 1em;
    font-family: Ubuntu, serif;
    text-decoration: none;
    cursor: pointer;
}

.inactive {
    color: #2a2a2a;
}

.active {
    color: saddlebrown;
}

/* tablet styles */
@media (max-width: 992px) {
    .navContainer {
        padding: 1.5em 5em;
        display: flex;
        justify-content: flex-end;
        background-color: #33A7A6;
    }

    .navLink {
        display: none;
    }
    .iconButton {
        display: block;
    }
    .icon {
        display: block;
        color: #2a2a2a;
    }

}

/* mobile styles */
@media (max-width: 688px) {

}
