@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@300;400;500;700&display=swap');

.menuContainer {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    display: flex;
    justify-content: space-evenly;
    background-color: #FDEBDD;
    color: #2a2a2a;
    border-radius: 20px;
    padding: .5em 0;
    /*width: 800px;*/
    margin: 1em 0;
}

.menuLink {
    text-align: center;
    cursor: pointer;
    padding: .5em;
    width: 100px;
    border-radius: 14px;
    text-transform: capitalize;
}

.active {
    background-color: #33A7A6;
}

.inactive {}
